.programs{
    margin: 80px auto ;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.program{
    flex-basis: 31%;
    position: static;
}

.caption{
    border-radius: 10px 10px 0px 0px;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 10%;
    transition: 0.4s;
}

.program:hover img{
    border-radius: 0px 0px 10px 10px; /* New border-radius on hover */
}

.program:hover .caption{
    opacity: 1;
    padding-top: 0;
}


.caption p{
    color:black;
    opacity: 50%;
}

.carousel {
    border-radius: 10px;
    width: 100%;
    height: 600px; /* Fixed height for the carousel */
    overflow: hidden; /* Hide anything outside the carousel bounds */
    padding-bottom: 80px;
}

.carousel-image {
    width: 100%; /* Full width of the carousel */
    display: block; /* Display block to avoid inline gaps */
    transition: transform 800ms ease-in; /* Smooth transition for the transform property */
    z-index: 0;
}

/* Updated CSS transition classes for right to left transition */
.slide-enter {
    transform: translateX(100%); /* Start from the right */
}

.slide-enter-active {
    transform: translateX(0); /* Move to the center */
}

.slide-exit {
    transform: translateX(0); /* Start from the center */
}

.slide-exit-active {
    transform: translateX(-100%); /* Exit to the left */
}
