.programs{
    margin: 80px auto ;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 40px;
    padding-bottom: 17vh;
}

.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}
.program{
    flex-basis: 31%;
    position: static;
}

.caption{
    border-radius: 10px;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:  rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 8%;
    transition: 0.7s;
}

.program:hover img{
    border-radius: 0px 0px 10px 10px; /* New border-radius on hover */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.program:hover .caption{
    border-radius: 10px 10px 0px 0px; /* New border-radius on hover */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    opacity: 1;

    padding-top: 0;
    
}

.caption p{
    color:white;
    opacity: 80%;
}

.carousel{
    border-radius: 10px;
    width: 100%;
    height: 600px; /* Fixed height for the carousel */
    overflow: hidden; /* Hide anything outside the carousel bounds */
    padding-bottom: 80px;
}


/* Container for the sliding and fading element */
.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slide-enter {
    opacity: 1;
    z-index: 1; 
}


.slide-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


.slide-exit {
    opacity: 1;
}


.slide-exit-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

