body, html {
    height: 100%;
    margin: 0;
  }
  .fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  /* Sesuaikan tinggi navbar sesuai dengan desain Anda */
  height: 50px;
  /* Sesuaikan warna latar belakang navbar sesuai dengan desain Anda */
  background-color: #00a087;
}

/* Tambahkan margin-top pada elemen yang menampung game */
.game-container {
  margin-top: 50px; /* Sesuaikan ini dengan tinggi navbar */
}
  .game-item {
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .game-item:hover {
    transform: scale(1.1);
  }
  
  .score {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
  }
