.game-area {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 20px auto;
  border: 5px solid #f7b6b6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: url('../images/background1.jpg');
  background-size: cover;
}

.snake-segment {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: green;
}

.food {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 20px;
  color: red;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: bold;
}

.game-over button {
  background-color: #ec509e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.game-over button:hover {
  background-color: #ffc0cb;
}


nav {
  height: 70px;
  background-color: transparent;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

nav:hover {
  background-color: #ff69b4;
}

nav h1 {
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

#color-picker {
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

#color-picker:hover {
  transform: scale(1.2);
}

.Game h1 {
  font-family: 'Circular Std', sans-serif;
  font-weight: bold;
  position: absolute;
  text-align: center;
}

.Game h2 {
  font-family: 'Circular Std', sans-serif;
  font-weight: bold;
  position: absolute;
  text-align: center;
}

h2 label {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

h1, p {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('../images/background2.jpg');
  background-size: cover;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

nav h1 {
  position: sticky;
  top: 0;
  z-index: 1;
}

.Game{
  background: url('../images/background2.jpg');
  background-size:100%;
}
