.game-area {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 20px auto;
  border: 2px solid #000;
  background-size: cover;
}

.snake-segment {
  position: absolute;
  width: 20px;
  height: 20px; 
  background-color: green;
}
@media (max-width: 768px) {
  .game-area {
    width: 100vw; 
    height: 80vh; 
  }
}
.food {
  position: absolute;
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
}
.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: red;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-style: bold;
}
.Game h1 {
  font-family: 'Circular Std', sans-serif;
  font-weight: bold;
  position: absolute;
  text-align: center;
}
.Game h2 {
  font-family: 'Circular Std', sans-serif;
  font-weight: bold;
  position: absolute;
  text-align: center;
}
h2 label {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

h1, p {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

h1, p {
  color: black;
}

.game-area{
  background: url('../images/background1.jpg');
}

.Game{
  background: url('../images/background2.jpg');
  background-size:100%;
}
