@media only screen and (max-width: 768px) {
    .bg-parallax {
      background-attachment: scroll;
    }
  }
  .bg-parallax {
    background-image: url('/src/images/background2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
  }