.navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: transform 0.3s ease; /* Add transition for smooth animation */
  }
  
  .nav-links {
    display: flex;
    gap: 20px; /* Increase the gap between links for even spacing */
  }
  
  .nav-link {
    text-decoration: none;
  }
  
  .scrolled {
    transform: translateY(-100%); /* Slide up the navbar when scrolled */
  }
  