.navbar {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  transition: transform 0.3s ease;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
}

.scrolled {
  transform: translateY(-100%);
}

@media (max-width: 1000px) {
  .navbar .nav-links a {
    margin: 10px 15px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .navbar a img {
    width: 120px;
  }
}
@media (max-width: 910px) {
  .navbar .nav-links a {
    margin: 10px 15px;
    padding-left: 5px;
    padding-right: 5px;
  }
}